html {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    -webkit-margin-top: 0;
    -moz-margin-top: 0;
    -o-margin-top: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}


/* Text */

h2 {
    font-weight: 300;
}

p {
    font-size: 1.25rem;
    font-weight: 300;
    color: #777777;
}

.brand-logo img {
    width: 115px;
    height: 50px;
    margin-top: 7px;
    /*    margin-left: 15px;*/
    margin-right: 0px;
}


/* Navbar */

nav {
    box-shadow: none;
}

nav ul a,
nav .brand-logo {
    color: #727272;
}

nav ul a:hover {
    /*    background-color: #777777;*/
    border-bottom: solid #55c1c4;
}


nav ul a.btn {
    margin-right: 0;
}

.bg-acent {
    background: #55c1c4;
}

.btn:hover,
.btn-large:hover {
    background-color: #52babd;
    -webkit-border-bottom: transparent;
    -moz-border-bottom: transparent;
    -o-border-bottom: transparent;
    border-bottom: transparent;
}

@media screen and (max-width: 1025px) {
    nav ul a:hover {
        -webkit-border-bottom: none;
        -moz-border-bottom: none;
        -o-border-bottom: none;
        border-bottom: none;
    }
    .btn:hover,
    .btn-large:hover {
        background-color: #52babd;
        border-bottom: none;
    }
}


/* Homepage */

#homepage {
    background: url(../img/newyk.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
    height: 700px;
    position: relative;
    background-color: #f9f9f9;
}

.header-text {
    padding-top: 80px;
    color: #808080;
    position: relative;
}


/*
.owl-theme .owl-dots,
.owl-theme .owl-nav {
    text-align: left;
    -webkit-tap-highlight-color: transparent;
}
*/

.owl-theme .owl-dots .owl-dot span {
    -webkit-background: transparent;
    background: transparent;
    border: 1px solid #808080;
}

@media screen and (max-width: 480px) {
    .header-text {
        padding-top: 50px;
        text-align: center;
    }
    .owl-theme .owl-dots,
    .owl-theme .owl-nav {
        text-align: center;
        -webkit-tap-highlight-color: transparent;
    }
}


/* About */

#about {
    position: relative;
    height: 700px;
    background-color: #55c1c4;
}


/* Timeline */

#timeline {
    background-color: #e9f0f5;
    height: auto;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}


/* Pengumuman */

#pengumuman {
    background: url(../img/geometry2.png) repeat center center;
    position: relative;
    background-color: #f9f9f9;
    height: auto;
    padding-bottom: 80px;
    padding-top: 80px;
}

.card .card-content p {
    color: #777777;
}


/* Galeri */

#galeri {
    padding-bottom: 80px;
    padding-top: 80px;
}

.gallery-box {
    display: block;
    position: relative;
    margin-bottom: 16.5px;
    padding-bottom: 0px;
    overflow: hidden;
}

.gallery-box img {
    background-clip: padding-box;
    width: 100%;
    margin: 0;
    position: relative;
}

.gallery-box .gallery-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(83, 193, 196, .9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    margin-bottom: 6px;
}

.gallery-box .gallery-box-caption .gallery-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.gallery-box .gallery-box-caption .gallery-box-caption-content .gallery-category,
.gallery-box .gallery-box-caption .gallery-box-caption-content .gallery-name {
    padding: 0 15px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.gallery-box .gallery-box-caption .gallery-box-caption-content .gallery-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.gallery-box .gallery-box-caption .gallery-box-caption-content .gallery-name {
    font-size: 18px;
}

.gallery-box:hover .gallery-box-caption {
    opacity: 1;
}


/* Footer */

footer {
    position: relative;
}

footer.page-footer {
    /*     background: url(../img/) repeat center center;*/
    margin-top: 0px;
    position: relative;
}