html {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    -webkit-margin-top: 0;
    -moz-margin-top: 0;
    -o-margin-top: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}


/* Text */

h2 {
    font-weight: 300;
}

p {
    font-size: 1.2rem;
    font-weight: 300;
    color: #777777;
}

image-center {
    display: block;
    margin-left: auto;
    margin-left: auto;
}

.brand-logo img {
    width: 115px;
    height: 50px;
    margin-top: 7px;
    /*    margin-left: 15px;*/
    margin-right: 0px;
}


/* Navbar */

nav {
    box-shadow: none;
    background-color: white;
    box-shadow: 0 0 1px rgba(0, 65, 94, 0.3);
}

nav ul a,
nav .brand-logo {
    color: #727272;
}

nav ul a:hover {
    background-color: transparent;
    /*    border-bottom: solid #55c1c4;*/
    color: black;
}

nav ul a.btn {
    margin-right: 0;
}

.bg-acent {
    background: #55c1c4;
}

.btn:hover,
.btn-large:hover {
    background-color: #52babd;
    -webkit-border-bottom: transparent;
    -moz-border-bottom: transparent;
    -o-border-bottom: transparent;
    border-bottom: transparent;
    color: white;
}

@media screen and (max-width: 1025px) {
    nav ul a:hover {
        -webkit-border-bottom: none;
        -moz-border-bottom: none;
        -o-border-bottom: none;
        border-bottom: none;
    }
    .btn:hover,
    .btn-large:hover {
        background-color: #52babd;
        border-bottom: none;
    }
}


/* Homepage */

#homepage {
    background: url(../img/newyk.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
    height: 700px;
    position: relative;
    background-color: #f9f9f9;
}

.header-text {
    padding-top: 80px;
    color: #808080;
    position: relative;
}


/*
.owl-theme .owl-dots,
.owl-theme .owl-nav {
    text-align: left;
    -webkit-tap-highlight-color: transparent;
}
*/

.owl-theme .owl-dots .owl-dot span {
    -webkit-background: transparent;
    background: transparent;
    border: 1px solid #808080;
}

@media screen and (max-width: 480px) {
    .header-text {
        padding-top: 50px;
        text-align: center;
    }
    .owl-theme .owl-dots,
    .owl-theme .owl-nav {
        text-align: center;
        -webkit-tap-highlight-color: transparent;
    }
}


/* About */

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

#owl-demo .owl-controls .owl-dots .owl-dot span {
    -webkit-background: transparent;
    border: 1px solid #808080;
    border-radius: 0px;
}

#owl-demo .owl-controls .owl-dots .owl-dot .active span {
    background-color: yellow;
}

#about {
    position: relative;
    height: auto;
    background-color: #55c1c4;
    padding-bottom: 80px;
    padding-top: 80px;
}

.alice-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cat-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rabbit-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-content1,
.about-content3 {
    text-align: left;
}

.about-content2 {
    text-align: left;
}

.about-content2 p,
.about-content1 p,
.about-content3 p {
    color: white;
}


/* Timeline */

#timeline {
    background-color: #f9f9f9;
    height: auto;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}


/* Pengumuman */

#pengumuman {
    position: relative;
    background-color: #ffffff;
    height: auto;
    padding-bottom: 80px;
    padding-top: 80px;
}

.card .card-content p {
    color: #777777;
}


/* Parralax */


/*
.parallax-container {
    height: 350px;
    background-color: rgba(36, 192, 197, 0.75);
}
*/


/* Galeri */

#galeri {
    background: url(../img/geometry2.png) repeat center center;
    padding-bottom: 80px;
    padding-top: 80px;
}

.gallery-box {
    display: block;
    position: relative;
    margin-bottom: 16.5px;
    padding-bottom: 0px;
    overflow: hidden;
}

.gallery-box img {
    background-clip: padding-box;
    width: 100%;
    margin: 0;
    position: relative;
}

.gallery-box .gallery-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(83, 193, 196, .9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    margin-bottom: 6px;
}

.gallery-box .gallery-box-caption .gallery-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.gallery-box .gallery-box-caption .gallery-box-caption-content .gallery-category,
.gallery-box .gallery-box-caption .gallery-box-caption-content .gallery-name {
    padding: 0 15px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.gallery-box .gallery-box-caption .gallery-box-caption-content .gallery-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.gallery-box .gallery-box-caption .gallery-box-caption-content .gallery-name {
    font-size: 18px;
}

.gallery-box:hover .gallery-box-caption {
    opacity: 1;
}


/* Sponsor */

#sponsor {
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}


/*
.sponsor-content {
    margin-bottom: 50px;
}
*/

.center-img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* Footer */

#footer {
    position: relative;
    background-color: #55c1c4;
    height: 400px;
}

#footer.page-footer {
    /*     background: url(../img/) repeat center center;*/
    margin-top: 0px;
    position: relative;
}

.footer-content {
    background-color: #55c1c4;
    height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    z-index: 2;
    z-index: 2;
    width: 540px;
}

.skewed-bg {
    background: #55c1c4;
    padding-top: 100px;
    height: 400px;
    margin-bottom: 0;
    -webkit-transform: skew(-15deg, 0deg);
    transform: skew(-15deg, 0deg);
    width: 100%;
    margin-left: -5px;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 1;
    position: relative;
}

.skewed-bg .content {
    -webkit-transform: skew(25deg, 0deg);
    transform: skew(20deg, 0deg);
    margin-left: 400px;
    text-align: center;
}

#map {
    height: 400px;
    width: 800px;
    margin-left: -298px;
    position: absolute;
}

@media screen and (max-width: 980px) {
    #map {
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .footer-content {
        width: auto;
    }
}

@media screen and (min-width: 1920px) {
    .skewed-bg {
        margin-left: -200px;
    }
    #map {
        width: 1030px;
    }
}

#footer .container .row {
    margin-bottom: 0;
}

.footer-copyright {
    background-color: #3ba6a9;
    height: auto;
}

.text-copyright {
    float: left;
}

.footer-copyright p {
    color: white;
    font-size: 20px;
}

@media screen and (max-width: 480px) {
    .footer-copyright p {
        font-size: 1.2rem;
        color: white;
    }
    .text-copyright {
        float: none;
        position: relative;
        text-align: center;
    }
}

.social-media {
    position: relative;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    color: #E5E5E5;
    padding: 10px;
    float: right;
}

@media screen and (max-width: 480px) {
    .social-media {
        float: none;
          justify-content: center;
        padding-top: 0;
    }
}

.social-media a {
    color: white;
    padding-right: 15px;
}

.social-media a:hover {
    color: white;
}

.social-media .social-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: border-radius .3s, background-color .5s;
    background-color: transparent;
    margin-right: 5px;
}

.social-media .social-wrapper:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.10);
    transition: border-radius .3s, background-color .3s;
}

.social-media .social-wrapper:hover a {
    color: white;
}

.social-media .social-wrapper a {
    padding: 20%;
}